{% extends 'menu.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/css/league_list.css' %}">
{% endblock %}
{% block content %}
<div class="ycontainer">
	<div class="card mb-2 league_card" style="max-width: 800px; margin: auto;">
	  <div class="row g-0">
	    <div class="col-md-3">
	      <img src="{{ league.logo_url }}" class="img-fluid rounded-start" alt="..." width="90%">
	    </div>
	    <div class="col-md-6">
	      <div class="card-body">
	        <h5 class="card-title"><b style='color: red;'>Лига:</b> {{ league.name }}</h5>
	        <p class="card-text"><b style='color: red;'>Страна:</b> {{ league.country.name }}</p>
	        <p class="card-text"><b style='color: red;'>Сезон:</b> {{ league.season }}</p>
	      </div>
	    </div>
	    <div class="col-md-3">
	      <img src="{{ league.logo_url }}" class="img-fluid rounded-end" alt="..." width="90%">
	    </div>
	  </div>
	</div>
	<div class="league_card_description">
		<p style="margin-top: 5px"><b style="color: red;">Таблица лиги</b></p>
		<table class="table table-primary" style="color: black;">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Команда</th>
		      <th scope="col">Игр</th>
		      <th scope="col">Победа</th>
		      <th scope="col">Ничья</th>
		      <th scope="col">Поражение</th>
		      <th scope="col">ГЗ/ГП</th>
		      <th scope="col">Очки</th>
		      <th scope="col">Форма</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for i in league_table %}
		    <tr>
		      <th scope="row">{{ i.position }}</th>
		      <td>{{ i.team }}</td>
		      <td>{{ i.played }}</td>
		      <td>{{ i.win }}</td>
		      <td>{{ i.draw }}</td>
		      <td>{{ i.lose }}</td>
		      <td>{{ i.goal_for }}/{{ i.goal_against }}</td>
		      <td>{{ i.points }}</td>
		      <td>{{ i.form }}</td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
	
	</div>
</div>
{% endblock %}